@media (max-width: 1000px) {
}

@media (max-width: 750px) {
}

@media (max-width: 520px) and (min-width: 280px) {
    .container {
        justify-content: center;
        flex-direction: column;
        box-shadow: none;
    }

    .brand::after {
        content: "▼";
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 70px;
        left: 0;
        max-width: 100vw;
        width: 100%;
        height: 40px;
        font-size: 25px;
        text-shadow: -2px 0 4px #000;
        background-color: #ffffff9f;
        box-shadow: black 0px 7.6px 8px -6px;
    }

    .bar-navigation {
        display: none;
    }

    .bar-navigation > ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 60px;
    }
}