<div class="container">
    <div class="brand">
        <a href="#inicio">
            <img src="./assets/img/logo-svgrepo-com.svg" alt="logo" width="40px" height="40px">
            <h1>CheckSpeech <span>AI</span></h1>
        </a>
    </div>
    <div class="bar-navigation">
        <ul>
            <li><a href="#solucao">Solução</a></li>
            <li><a href="#cliente">Clientes</a></li>
            <li><a href="#preco">Preços</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </div>
</div>