@media (max-width: 750px) {
    .footer-form {
        width: 100%;
    }

    .footer-form legend {
        font-size: 40px;
    }

    #pais,
    #telefone {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .form-grid input[type="text"],
    .form-grid input[type="email"],
    .form-grid textarea {
        font-size: 20px;
        padding: 10px 10px;
    }

    .form-grid>div {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) and (min-width: 280px) {
    .footer-form {
        width: 85%;
    }

    .footer-form legend {
        font-size: 30px;
    }

    .form-grid input[type="text"],
    .form-grid input[type="email"],
    .form-grid textarea {
        font-size: 15px;
    }
}