.container {
    min-height: 100vh;
    height: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-form {
    margin-top: 100px;
    width: 80%;
}

fieldset {
    border: none;
    width: 100%;
}

.footer-form legend {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    color: rgb(20, 20, 20);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    column-gap: 30px;
}

#nome,
#email,
.checkbox,
.full-width {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-grid>div {
    margin-bottom: 30px;
}

.form-grid label {
    margin-bottom: 10px;
    font-weight: 600;
}

.form-grid input[type="text"],
.form-grid input[type="email"],
.form-grid #country,
.form-grid textarea {
    background: #F1F1FF;
    border: 2px solid #007FE3;
    border-radius: 10px;
    color: #000;
    font-family: sans-serif;
    font-size: 30px;
    width: 100%;
    padding: 15px 20px;
    box-shadow: 1px 4px 4px 2px #000;
}

.form-grid textarea {
    height: 150px;
    font-size: 20px;
}

.checkbox {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.checkbox input[type="checkbox"] {
    box-shadow: 1px 1px 2px 1px #000;
}

option {
    font-size: 15px;
}

span {
    text-decoration: solid underline #000;
}

.error-text {
    font-size: 14px;
    color: red;
}