<div class="container">
    <div class="footer-form">
        <form action="#" method="get">
            <fieldset>
                <legend>Formulário de contato</legend>
                <div class="form-grid">
                    <div id="nome">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" placeholder="Nome">
                    </div>
                    <div id="email">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Seuemail@gmail.com">
                    </div>
                    <div id="telefone">
                        <label for="telefone">Número de telefone:</label>
                        <input type="text" name="telefone" placeholder="Telefone" (input)="getNumber($any($event.target).value)" value="{{ formattedValue }}">
                    </div>
                    <div id="pais">
                        <label for="pais">País:</label>
                        <input type="text" name="pais" placeholder="País">
                    </div>
                    <div class="full-width">
                        <label>Mensagem:</label>
                        <textarea></textarea>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="lgpd" [(ngModel)]="checkboxState" (change)="onCheckboxChange()">
                        <label for="LGPD">Eu concordo com a Política de Privacidade.</label>
                    </div>
                    <div class="full-width envio">
                        <app-button corFundo="#F1F1FF" corTexto="#000" titulo="enviar" *ngIf="!botaoDesabilitado"></app-button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>