<div class="container">
    <div class="footer-form">
        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
            <fieldset>
                <legend>Formulário de contato</legend>
                <div class="form-grid">
                    <div id="nome">
                        <label for="campo1">Nome:</label>
                        <input type="text" id="campo1" name="campo1" placeholder="Nome"
                            [(ngModel)]="modeloDoFormulario.campo1" minlength="3" required>
                        <div
                            *ngIf="formulario.controls['campo1'] && formulario.controls['campo1'].touched && formulario.controls['campo1'].invalid">
                            <p *ngIf="formulario.controls['campo1'].hasError('required')" class="error-text">Campo
                                vazio.
                            </p>
                            <p *ngIf="formulario.controls['campo1'].hasError('minlength')" class="error-text">Mínimo de
                                3 caracteres.</p>
                        </div>
                    </div>
                    <div id="email">
                        <label for="campo2">Email:</label>
                        <input type="email" id="campo2" name="campo2" placeholder="Seuemail@gmail.com"
                            [(ngModel)]="modeloDoFormulario.campo2"
                            pattern="/^[a-z0-9.]+@[a-z0-9]+\.[a-z]+\.([a-z]+)?$/i" required>
                        <div
                            *ngIf="formulario.controls['campo2'] && formulario.controls['campo2'].touched && formulario.controls['campo2'].invalid">
                            <p *ngIf="!modeloDoFormulario.campo2" class="error-text">Campo vazio
                            </p>
                            <p *ngIf="!validaEmail(modeloDoFormulario.campo2)" class="error-text">Email
                                inválido</p>
                        </div>
                    </div>
                    <div id="telefone">
                        <label for="telefone">Número de telefone:</label>
                        <input type="text" id="campo3" name="telefone" placeholder="Telefone" maxlength="18"
                            (input)="getNumber($any($event.target).value)" value="{{ formattedValue }}">
                        <p *ngIf="!validaTelefone(formattedValue)" class="error-text">Número inválido.</p>
                    </div>
                    <div id="pais">
                        <label for="pais">País:</label>
                        <select name="pais" id="country">
                            <option *ngFor="let country of countries" [value]="country.sigla3">{{ country.nome }}
                            </option>
                        </select>
                    </div>
                    <div class="full-width">
                        <label>Mensagem:</label>
                        <textarea></textarea>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="lgpd" id="LGPD" [(ngModel)]="checkboxState" (change)="onCheckboxChange()">
                        <label for="LGPD">Eu concordo com a Política de Privacidade.</label>
                    </div>
                    <div class="full-width envio">
                        <span *ngIf="botaoDesabilitado"> >>Por favor, aceite a política de privacidade para envio do
                            formulário.<< </span>
                                <app-button corFundo="#F1F1FF" corTexto="#000" titulo="enviar" tipo="submit"
                                    *ngIf="!botaoDesabilitado"></app-button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>