<div class="table-content">
    <div class="table-content_info">
        <h3>Beginner</h3>
        <ul class="info">
            <li>
                <h4>Transcrição de Áudio Assíncrono:</h4>
                <p> <span>120 minutos</span> (R$0,20 / minuto excedente)</p>
            </li>
            <li>
                <h4>Transcrição de Áudio em tempo real:</h4>
                <p> <span>90 minutos</span> (R$0,40 / minuto excedente)</p>
            </li>
            <li>
                <h4>Identificação de Idiomas em áudios:</h4>
                <p> <span>200 minutos</span> (R$0,05 / minuto excedente)</p>
            </li>
            <li>
                <h4>Análise de sentimento a partir do áudio (áudio pré-gravado):</h4>
                <p> <span>120 minutos</span> (R$0,40 / minuto excedente)</p>
            </li>
        </ul>

        <div class="price-contact">
            <p><span>R$29,00/mês</span> ou <span>R$328,00/ano</span></p>
            <app-button corFundo="#007FE3" corTexto="#F1F1FF" titulo="comprar"></app-button>
        </div>
    </div>

    <div class="table-content_info">
        <h3>Business</h3>
        <ul class="info">
            <li>
                <h4>Transcrição de Áudio Assíncrono:</h4>
                <p> <span>200 minutos</span> (R$0,15 / minuto excedente)</p>
            </li>
            <li>
                <h4>Transcrição de Áudio em tempo real:</h4>
                <p> <span>120 minutos</span> (R$0,40 / minuto excedente)</p>
            </li>
            <li>
                <h4>Identificação de Idiomas em áudios:</h4>
                <p> <span>500 minutos</span> (R$0,03 / minuto excedente)</p>
            </li>
            <li>
                <h4>Análise de sentimento a partir do áudio (áudio pré-gravado):</h4>
                <p> <span>200 minutos</span> (R$0,35 / minuto excedente)</p>
            </li>
        </ul>

        <div class="price-contact">
            <p><span>R$44,00/mês</span> ou <span>R$449,00/ano</span></p>
            <app-button corFundo="#007FE3" corTexto="#F1F1FF" titulo="comprar"></app-button>
        </div>
    </div>

    <div class="table-content_info">
        <h3>Enterprise</h3>
        <ul class="info">
            <li>
                <h4>Transcrição de Áudio Assíncrono:</h4>
                <p> <span>+200 minutos</span> A combinar</p>
            </li>
            <li>
                <h4>Transcrição de Áudio em tempo real:</h4>
                <p> <span>+120 minutos</span> A combinar</p>
            </li>
            <li>
                <h4>Identificação de Idiomas em áudios:</h4>
                <p> <span>+500 minutos</span> A combinar</p>
            </li>
            <li>
                <h4>Análise de sentimento a partir do áudio (áudio pré-gravado):</h4>
                <p> <span>+200 minutos</span> A combinar</p>
            </li>
            <li>
                <p>Preços especiais para grandes volumes.</p>
            </li>
            <li>
                <p>Prioridade no suporte técnico.</p>
            </li>
            <li>
                <p>Gestor de conta dedicado.</p>
            </li>
        </ul>

        <div class="price-contact">
            <p>Preço sob <span>consulta</span>.</p>
            <a href="#contato">
                <app-button corFundo="#007FE3" corTexto="#F1F1FF" titulo="contato"></app-button>
            </a>
        </div>
    </div>
</div>