@media (max-width: 1600px) {
  .text-content {
    max-width: 80%;
  }

  .panel {
    max-width: 80%;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .container {
    height: 100vh;
  }

  .text-content {
    max-width: 90%;
  }

  .text-content h2 {
    font-size: 45px;
    margin-bottom: 30px;
  }

  .text-content p {
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
  }

  .accordion-content p {
    font-size: 16px;
    line-height: 20px;
  }

  .panel {
    max-width: 95%;
    width: 100%;
  }

  label {
    font-size: 20px;
  }

  input[id=panel-1]:checked~.accordion-content {
    height: 120px;
  }

  input[id=panel-2]:checked~.accordion-content {
    height: 100px;
  }

  input[id=panel-3]:checked~.accordion-content {
    height: 40px;
  }

  input[id=panel-4]:checked~.accordion-content {
    height: 80px;
  }
}

@media (max-width: 750px) {
  .text-content {
    max-width: 85%;
  }

  .text-content h2 {
    font-size: 40px;
  }

  .text-content p {
    font-size: 20px;
  }

  .panel {
    max-width: 85%;
  }

  label {
    font-size: 16px;
  }

  input[id=panel-1]:checked~.accordion-content {
    height: 145px;
  }

  input[id=panel-2]:checked~.accordion-content {
    height: 130px;
  }

  input[id=panel-3]:checked~.accordion-content {
    height: 50px;
  }

  input[id=panel-4]:checked~.accordion-content {
    height: 100px;
  }
}

@media (max-width: 450px) and (min-width: 280px) {

  .text-content h2 {
    font-size: 30px;
  }

  .text-content p {
    font-size: 17px;
  }

  .accordion-content p {
    font-size: 12px;
    line-height: 16px;
  }

  label {
    font-size: 15px;
  }
}