<div class="container">
    <hr>
    <h2>Clientes</h2>
    <div class="client">
        <img src="../../../../assets/img/logo-1.svg" alt="logo cliente">
        <img src="../../../../assets/img/logo-2.svg" alt="logo cliente">
        <img src="../../../../assets/img/logo-3.svg" alt="logo cliente">
        <img src="../../../../assets/img/logo-4.svg" alt="logo cliente">
        <img src="../../../../assets/img/logo-5.svg" alt="logo cliente">
        <img src="../../../../assets/img/logo-6.svg" alt="logo cliente">
        <img src="../../../../assets/img/logo-7.svg" alt="logo cliente">
        <img src="../../../../assets/img/logo-8.svg" alt="logo cliente">
    </div>
    <hr>
</div>