@media (max-width: 750px) {
}

@media (max-width: 320px) and (min-width: 280px) {
    .container {
        margin-top: 0;
        min-height: 50vh;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 0 10px;
        padding-bottom: 10px;
    }

    .logo {
        margin: 0 auto;
        margin-top: 15px;
    }

    .logo a h3 {
        font-size: 17px;
    }

    .logo img {
        transform: scale(0.6);
    }
    
    p {
        gap: 0;
        margin-top: 0;
        line-height: normal;
    }
    
    p, a {
        font-size: 13px;
    }

    .menu-bar {
        margin-bottom: 20px;
    }
    
    .menu-bar h3, .contato h3 {
        font-size: 17px;
        margin-bottom: 0;
    }

    .contato p {
        margin-top: 5px;
    }

    .contato p img {
        transform: scale(0.6);
    }
    
    .copyright p {
        font-size: 10px;
        margin: 5px;
    }
    
}