<div class="container">
    <div class="content">
        <div class="logo">
            <a href="#inicio">
                <h3><img src="./assets/img/logo-svgrepo-com.svg" alt="logo" height="45px">CheckSpeech <span>AI</span></h3>
            </a>
        </div>
        <div class="menu-bar">
            <h3>Informações</h3>
            <div class="navigation">
                <ul>
                    <li><a href="#solucao">Solução</a></li>
                    <li><a href="#cliente">Clientes</a></li>
                    <li><a href="#preco">Preços</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </div>
        </div>
        <div class="contato">
            <h3>Contato</h3>
            <p><img src="./assets/img/telephone-svg.svg" alt="telephone" height="25px">+99 (99) 99999-9999</p>
            <p><img src="./assets/img/email-svg.svg" alt="email" height="25px">comercial@check.com.br</p>
            <p><img src="./assets/img/map-svg.svg" alt="local" height="25px">Rua Edson, 405 União
                - Belo Horizonte<br>/ MG-Brasil
                CEP: 31170-620</p>
        </div>
    </div>
    <div class="copyright">
        <a href="https://github.com/Prates14">
            <p>2023</p>
            <p>© CheckSpeech. Por Guilherme Prates dos Santos.</p>
        </a>
    </div>
</div>
