@media (max-width: 1100px) {
    .container {
        margin-top: 0;
        min-height: 60vh;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 0 10px;
        padding-bottom: 10px;
    }

    .logo {
        margin: 0 auto;
        margin-top: 15px;
    }

    .logo a h3 {
        font-size: 25px;
    }

    .logo img {
        transform: scale(0.7);
    }

    p {
        gap: 0;
        margin-top: 0;
        line-height: normal;
    }

    p,
    a {
        font-size: 16px;
    }

    .menu-bar {
        margin-bottom: 20px;
    }

    .menu-bar h3,
    .contato h3 {
        font-size: 23px;
        margin-bottom: 0;
    }

    .contato p {
        margin-top: 5px;
    }

    .contato p img {
        transform: scale(0.6);
    }

    .copyright p {
        font-size: 17px;
        margin: 5px;
    }
}

@media (max-width: 750px) {
    .container {
        min-height: 50vh;
    }

    .logo img {
        transform: scale(0.6);
    }

    p,
    a {
        font-size: 14px;
    }

    .menu-bar h3,
    .contato h3 {
        font-size: 20px;
    }

    .copyright p {
        font-size: 15px;
    }
}

@media (max-width: 450px) and (min-width: 280px) {
    .logo a h3 {
        font-size: 17px;
    }

    p,
    a {
        font-size: 13px;
    }

    .menu-bar h3,
    .contato h3 {
        font-size: 17px;
    }

    .copyright p {
        font-size: 10px;
    }
}