@media (max-width: 1100px) {
}

@media (max-width: 750px) {
}

@media (max-width: 320px) and (min-width: 280px) {

    .welcome-content h2 {
        font-size: 15px;
        margin-top: 13em;
    }

    .text-content {
        width: 17em;
    }

    .text-content h2{
        font-size: 20px;
        margin-top: 60px;
    }

    .text-content p {
        max-width: 90%;
        font-size: 15px;
        text-align: justify;
    }

    .img-content img:first-child {
        width: 60px;
        height: 70px;
    }
    
    .img-content img:last-child {
        width: 40px;
        height: 40px;
    }

    .img-content span {
        font-size: 40px;
        margin: 0;
    }

    .btn-section {
        gap: 10px;
        margin-top: 20px;
    }
}