<div class="container">
    <div class="welcome-content">
        <h2>Bem vindo ao CheckSpeech AI!</h2>
    </div>
    <div class="text-content">
        <h2>TRANSFORME FALAS EM TEXTOS DE ACORDO COM A DEMANDA</h2>
        <p>O CheckSpeech AI é um conjunto de APIs de conversão de fala em textos,
            bem como a interpretação do sentimento dominante nos dizeres.</p>
    </div>
    <div class="img-content">
        <img src="./assets/img/sound-wave.png" alt="sound wave" width="120px">
        <span>\</span>
        <img src="./assets/img/notepad.png" alt="notepad" width="50px" height="60px">
    </div>
    <div class="btn-section">
        <a href="#solucao">
            <!-- template para botao -->
            <app-button corFundo="#F1F1FF" corTexto="#000000" titulo="ler mais"></app-button>
        </a>
        <a href="#contato">
            <!-- template para botao -->
            <app-button corFundo="#007FE3" corTexto="#F1F1FF" titulo="contato"></app-button>
        </a>
    </div>
</div>